{%extends 'base.html'%}
{%block title%}create a booking{%endblock%}
{%block content%}
<div class="container-fluid my-5 vh-100">
  <h1 class="h3 text-center  pt-4 mt-4 pb-3">BookInMate</h1>
   {%for msg in get_flashed_messages()%}
  <div>{{msg}}</div>
  {%endfor%}
  
  <div class="container d-flex flex-colomn align-items-center justify-content-center w-75 my-4">
   
    <form class="w-75 my-card p-3" method="post" action="{{url_for('create_a_booking')}}" id="bookingForm">
      <div class="row mb-3">
       <label for="firstname" class="col-form-label col-sm-3 fs-5">InMate Number</label>
    <div class="col-sm-9" >  
  <input type="text" name='InMateId'
	 placeholder="InMate ID number"
	 value="{{request.form['InMateId']}}"
	 class="form-control"
	 required>
  </div>
      </div>
   <div class="row mb-3">
     <label for='dateInput' class="col-form-label col-sm-3 fs-5">Select a date</label>
     <div class="col-sm-9">
  <input type="date" name='dateInput'
	 value='{{request.form["dateInput"]}}'
	 class="form-control">
  </div>
   </div>

   <div class="row mb-3">
  <label for="timeInput" class="col-form-label col-sm-3 fs-5">Select a time slot</label>
  <div class="col-sm-9">
    <select name="timeInput" class="form-select">
  {%for time_slot in time_slots%}
    <option value="{{time_slot}}">{{time_slot}}</option>
  {%endfor%}
  </select>
  </div>
   </div>
   <div class="row mb-3">
     
     <label for="facilityInput" class="col-form-label col-sm-3 fs-5">Select a facility</label>
     <div class="col-sm-9">
  <select name="facilityInput" class="form-select">
    {%for facility in facilities%}
    <option value="{{facility}}">{{facility}}</option>
    {%endfor%}
  </select>
     </div>
   </div>

    <div class="row mb-3">
     
      <label for='firstname' class="col-form-label col-sm-3 fs-5">Your Name</label>
      <div class="col-sm-9">
  <input type="text" name="firstname"
	 placeholder="Enter your name"
	 value="{{request.form['firstname']}}"
	 class="form-control"
	 required>
      </div>
    </div>

    <div class="row mb-3">
      <label for="emailInput" class="col-form-label col-sm-3 fs-5">Your Email</label>
      <div class="col-sm-9">
  <input type="email" name="emailInput"
	 placeholder="example@gmail.com"
	 value="{{request.form['emailInput']}}"
	 validType="email" class="form-control"
	 required>
    </input>
      </div>
      </div>
    <div class="row mb-3">
      <label for='visitorID' class="col-form-label col-sm-3 fs-5">Your ID</label>
      <div class="col-sm-9">
  <input type='text' name='visitorID'
	 placeholder='Please enter your ID'
	 value="{{request.form['visitorID']}}"
	 class="form-control"
	 required></input>
      </div>
    </div>
    <div id="validation-errors" class="alert alert-danger" style="display:none;"></div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
{%endblock%}

