{%extends 'base.html'%}
{%block title%}create a booking{%endblock%}
{%block content%}
<style>
 
  form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%; /* Adjust the width as needed */
      box-sizing: border-box;
      margin: 0px auto;
      padding: 10px 10px;
  

  input,
  select {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /* Add other styling as needed */

</style>
<form method="post" action="{{url_for('create_a_booking')}}">
  <label for="firstname">InMate Number</label>
  <br>
  <input type="text" name='InMateId'
	 placeholder="InMate ID number"
	 value="{{request.form['InMateId']}}" required>
  <br>
  <label for='dateInput'>Select a date</label>
  <br>
  <input type="date" name='dateInput'
	 value='{{request.form["dateInput"]}}' required>
  <br>
  <label for="timeInput">Select a time slot</label>
  <select name="timeInput">
  {%for time_slot in time_slots%}
    <option value="{{time_slot}}">{{time_slot}}</option>
  {%endfor%}
  </select>
  <br>
  <label for="facilityInput">Select A facility</label>
  <select name="facilityInput">
    {%for facility in facilities%}
    <option value="{{facility}}">{{facility}}</option>
    {%endfor%}
  </select>
  <label for='firstname'>Your Name</label>
  <br>
  <input type="text" name="firstname"
	 placeholder="Enter your name"
	 value="{{request.form['firstname']}}" required>
  <br>
  <label for="emailInput">Your Email</label>
  <br>
  <input type="email" name="emailInput"
	 placeholder="example@gmail.com"
	 value="{{request.form['emailInput']}}" required validType="email"></input>
  <br>
  <label for='visitorID'>Your ID</label>
  
  <input type='text' name='visitorID'
	 placeholder='Please enter your ID'
	 value="{{request.form['visitorID']}}" required></input>
<br>
  <button type="submit">Submit</button>
</form>
{%endblock%}

