{%extends 'base.html'%}
{%block title%}Visiting Hours{%endblock%}
{%block content%}
<h1>Visiting Process</h1>
 <h2>1. Arrival</h2>
<p>Visitors will be searched. Produce the following authorized identification:</p>
<ul>
     <li>South African ID</li>
      <li>Passport</li>
</ul>
<h2>2. Registration</h2>
    <ul>
        <li>Personal details of visitor(s)</li>
        <li>Case number or registration number of the offender(s) to be visited</li>
        <li>No unauthorized items (firearms, knives, etc.)</li>
        <li>Leave valuables at the main gate</li>
    </ul>
    <h2>3. Display the visitor tag visibly at all times.</h2>

    <h2>4. Body Search</h2>
    <p>Visitors will be searched before being accompanied to the relevant visiting area.</p>

    <h2>5. Waiting Area</h2>
    <ul>
        <li>Visitors are searched once more.</li>
        <li>Visitors’ and offender’s/remand detainee’s personal details are verified.</li>
    </ul>
     <h2>6. Briefing</h2>
    <p>Visitors are briefed about the rules of the visiting area. The offender/remand detainee may decide whether or not to see the visitor.</p>

    <h2>7. Visit</h2>
    <ul>
        <li>The visitor waits for the offender/remand detainee to be located.</li>
        <li>The visitor may buy delicacies from the tuck shop for consumption in the visiting area.</li>
        <li>Misbehavior, such as unbecoming conducts and disturbing others, will terminate the visit immediately.</li>
        <li>All visits are subject to monitoring and must take place within sight and earshot of an official.</li>
    </ul>
     <h2>8. End of Visit</h2>
    <ul>
        <li>The offender/remand detainee will be called first, while the visitors remain seated.</li>
        <li>Visitors and offenders/remand detainees will be notified five (5) minutes before visiting time is over.</li>
        <li>No offender is allowed to bring anything into the correctional center after the visit.</li>
    </ul>
    <h2>9. Waiting Area</h2>
    <ul>
        <li>Visitors go back to the waiting room where they will be searched before being accompanied back to the main gate.</li>
    </ul>

    <h2>10. Main Gates</h2>
    <ul>
        <li>Visitors must return the visitor tag.</li>
        <li>Visitors who left their valuables at the gate must claim them back.</li>
    </ul>
{%endblock%}
